body {

}

.container {
    margin: auto;
    width: 100vw;
    max-width: 1280px;
    background-color: white;
}

.container .num-input {
    background-color: transparent;
    padding: 10px;
    width: 16rem;
    caret-color: gray;
}

.label {
    color: gray;
    font-size: .8rem;
}